body{
  background-color: rgb(43, 44, 45);
}

.text-input{
  margin-right: 10px;
}

.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  color: white;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: rgb(5, 80, 5);
}

.add-button:hover {
  background-color: rgb(8, 129, 8);
}

.delete-button {
  background-color: rgb(113, 5, 9);
}

.delete-button:hover {
  background-color: rgb(145, 6, 11);
}

.move-button {
  background-color: rgb(5, 73, 125);
}

.move-button:hover {
  background-color: rgb(7, 93, 159);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsla(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
